.footer.container-lg.px-3(role='contentinfo')
  .position-relative.d-flex.flex-justify-between.py-6.mt-6.f6.text-gray.border-top.border-gray-light
    ul.list-style-none.d-flex.flex-wrap
      li.mr-3
        | © 2017 
        span(title='0.09589s from unicorn-1314690686-8p202') i_love
        | , Gov.
      li.mr-3
        a(href='#', data-ga-click='Footer, go to terms, text:terms') Terms
      li.mr-3
        a(href='#', data-ga-click='Footer, go to privacy, text:privacy') Privacy
      li.mr-3
        a(href='#', data-ga-click='Footer, go to security, text:security') Security
      li.mr-3
        a(href='#', data-ga-click='Footer, go to status, text:status') Status
      li
        a(href='#', data-ga-click='Footer, go to help, text:help') Help
    a.footer-octicon(href='/', aria-label='Homepage', title='GitHub')
      img(src='/images/love.png')
    ul.list-style-none.d-flex.flex-wrap
      li.mr-3
        a(href='#', data-ga-click='Footer, go to contact, text:contact') Contact i_love
      li.mr-3
        a(href='#', data-ga-click='Footer, go to api, text:api') API
      li.mr-3
        a(href='#', data-ga-click='Footer, go to training, text:training') Training
      li.mr-3
        a(href='#', data-ga-click='Footer, go to shop, text:shop') Shop
      li.mr-3
        a(href='#', data-ga-click='Footer, go to blog, text:blog') Blog
      li
        a(href='#', data-ga-click='Footer, go to about, text:about') About