body.logged-out.env-production.signup
    .position-relative.js-header-wrapper
      header.Header.header-logged-out.position-relative.f4.py-3(role='banner')
        .container-lg.d-flex.px-3
          .d-flex.flex-justify-between.flex-items-center
            img(src='./images/love.png', width='32', height='32')
          .HeaderMenu.HeaderMenu--bright.d-flex.flex-justify-between.flex-auto
            nav.mt-0
              ul.d-flex.list-style-none
                li.ml-4
                  a.js-selected-navigation-item.HeaderNavlink.px-0.py-2.m-0(href='/admin/project/new')
                    | 项目申请
                li.ml-4
                  a.js-selected-navigation-item.HeaderNavlink.px-0.py-2.m-0(href='#')
                    | 项目审批
                li.ml-4
                  a.js-selected-navigation-item.HeaderNavlink.px-0.py-2.m-0(href='#')
                    | 资金拨付
                li.ml-4
                  a.js-selected-navigation-item.HeaderNavlink.px-0.py-2.m-0(href='#')
                    | 进度更新
                li.ml-4
                  a.js-selected-navigation-item.HeaderNavlink.px-0.py-2.m-0(href='/admin/project/list')
                    | 项目查询
            if user
              .HeaderNavlink.px-0.py-2.m-0
                span.text-bold.text-white.no-underline 欢迎您,#{user.name}
                span.text-gray &nbsp;|&nbsp;
                a.text-bold.text-white.no-underline(href='/logout', data-ga-click='(Logged out) Header, clicked Sign up, text:sign-up') 登出
            else
              .HeaderNavlink.px-0.py-2.m-0
                a.text-bold.text-white.no-underline(href='/signin', data-ga-click='(Logged out) Header, clicked Sign in, text:sign-in') 登录
                span.text-gray &nbsp;or&nbsp;
                a.text-bold.text-white.no-underline(href='/signup', data-ga-click='(Logged out) Header, clicked Sign up, text:sign-up') 注册        