link(href="/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
link(href='/css/common.css', rel='stylesheet')
link(href='/css/style.css', rel='stylesheet')
link(href='/css/publish.css', rel='stylesheet')
link(crossorigin='anonymous', href='/css/frameworks.css', media='all', rel='stylesheet')
link(crossorigin='anonymous', href='/css/private.css', media='all', rel='stylesheet')
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")