extends ../layout

block content        
  .featurette
    .container-lg.p-responsive
      // 项目名称
      h1.alt-h1.mb-4.mb-md-6
        | #{project.name}
      .clearfix.gutter-md-spacious
        // 左边悬浮框
        .mb-4.float-md-left.col-md-4.col-lg-3
          ul.list-style-none.alt-text-small
            li.border-bottom.py-3
              svg.octicon.octicon-book.mr-1(aria-hidden='true', height='16', version='1.1', viewbox='0 0 16 16', width='16')
                path(fill-rule='evenodd', d='M3 5h4v1H3V5zm0 3h4V7H3v1zm0 2h4V9H3v1zm11-5h-4v1h4V5zm0 2h-4v1h4V7zm0 2h-4v1h4V9zm2-6v9c0 .55-.45 1-1 1H9.5l-1 1-1-1H2c-.55 0-1-.45-1-1V3c0-.55.45-1 1-1h5.5l1 1 1-1H15c.55 0 1 .45 1 1zm-8 .5L7.5 3H2v9h6V3.5zm7-.5H9.5l-.5.5V12h6V3z')
              a(href='#')
                | 项目基本信息
            li.border-bottom.py-3
              svg.octicon.octicon-globe.mr-1(aria-hidden='true', height='16', version='1.1', viewbox='0 0 14 16', width='14')
                path(fill-rule='evenodd', d='M7 1C3.14 1 0 4.14 0 8s3.14 7 7 7c.48 0 .94-.05 1.38-.14-.17-.08-.2-.73-.02-1.09.19-.41.81-1.45.2-1.8-.61-.35-.44-.5-.81-.91-.37-.41-.22-.47-.25-.58-.08-.34.36-.89.39-.94.02-.06.02-.27 0-.33 0-.08-.27-.22-.34-.23-.06 0-.11.11-.2.13-.09.02-.5-.25-.59-.33-.09-.08-.14-.23-.27-.34-.13-.13-.14-.03-.33-.11s-.8-.31-1.28-.48c-.48-.19-.52-.47-.52-.66-.02-.2-.3-.47-.42-.67-.14-.2-.16-.47-.2-.41-.04.06.25.78.2.81-.05.02-.16-.2-.3-.38-.14-.19.14-.09-.3-.95s.14-1.3.17-1.75c.03-.45.38.17.19-.13-.19-.3 0-.89-.14-1.11-.13-.22-.88.25-.88.25.02-.22.69-.58 1.16-.92.47-.34.78-.06 1.16.05.39.13.41.09.28-.05-.13-.13.06-.17.36-.13.28.05.38.41.83.36.47-.03.05.09.11.22s-.06.11-.38.3c-.3.2.02.22.55.61s.38-.25.31-.55c-.07-.3.39-.06.39-.06.33.22.27.02.5.08.23.06.91.64.91.64-.83.44-.31.48-.17.59.14.11-.28.3-.28.3-.17-.17-.19.02-.3.08-.11.06-.02.22-.02.22-.56.09-.44.69-.42.83 0 .14-.38.36-.47.58-.09.2.25.64.06.66-.19.03-.34-.66-1.31-.41-.3.08-.94.41-.59 1.08.36.69.92-.19 1.11-.09.19.1-.06.53-.02.55.04.02.53.02.56.61.03.59.77.53.92.55.17 0 .7-.44.77-.45.06-.03.38-.28 1.03.09.66.36.98.31 1.2.47.22.16.08.47.28.58.2.11 1.06-.03 1.28.31.22.34-.88 2.09-1.22 2.28-.34.19-.48.64-.84.92s-.81.64-1.27.91c-.41.23-.47.66-.66.8 3.14-.7 5.48-3.5 5.48-6.84 0-3.86-3.14-7-7-7L7 1zm1.64 6.56c-.09.03-.28.22-.78-.08-.48-.3-.81-.23-.86-.28 0 0-.05-.11.17-.14.44-.05.98.41 1.11.41.13 0 .19-.13.41-.05.22.08.05.13-.05.14zM6.34 1.7c-.05-.03.03-.08.09-.14.03-.03.02-.11.05-.14.11-.11.61-.25.52.03-.11.27-.58.3-.66.25zm1.23.89c-.19-.02-.58-.05-.52-.14.3-.28-.09-.38-.34-.38-.25-.02-.34-.16-.22-.19.12-.03.61.02.7.08.08.06.52.25.55.38.02.13 0 .25-.17.25zm1.47-.05c-.14.09-.83-.41-.95-.52-.56-.48-.89-.31-1-.41-.11-.1-.08-.19.11-.34.19-.15.69.06 1 .09.3.03.66.27.66.55.02.25.33.5.19.63h-.01z')
              a(href='#')
                | 项目审核信息
            li.border-bottom.py-3
              svg.octicon.octicon-radio-tower.mr-1(aria-hidden='true', height='16', version='1.1', viewbox='0 0 16 16', width='16')
                path(fill-rule='evenodd', d='M4.79 6.11c.25-.25.25-.67 0-.92-.32-.33-.48-.76-.48-1.19 0-.43.16-.86.48-1.19.25-.26.25-.67 0-.92a.613.613 0 0 0-.45-.19c-.16 0-.33.06-.45.19-.57.58-.85 1.35-.85 2.11 0 .76.29 1.53.85 2.11.25.25.66.25.9 0zM2.33.52a.651.651 0 0 0-.92 0C.48 1.48.01 2.74.01 3.99c0 1.26.47 2.52 1.4 3.48.25.26.66.26.91 0s.25-.68 0-.94c-.68-.7-1.02-1.62-1.02-2.54 0-.92.34-1.84 1.02-2.54a.66.66 0 0 0 .01-.93zm5.69 5.1A1.62 1.62 0 1 0 6.4 4c-.01.89.72 1.62 1.62 1.62zM14.59.53a.628.628 0 0 0-.91 0c-.25.26-.25.68 0 .94.68.7 1.02 1.62 1.02 2.54 0 .92-.34 1.83-1.02 2.54-.25.26-.25.68 0 .94a.651.651 0 0 0 .92 0c.93-.96 1.4-2.22 1.4-3.48A5.048 5.048 0 0 0 14.59.53zM8.02 6.92c-.41 0-.83-.1-1.2-.3l-3.15 8.37h1.49l.86-1h4l.84 1h1.49L9.21 6.62c-.38.2-.78.3-1.19.3zm-.01.48L9.02 11h-2l.99-3.6zm-1.99 5.59l1-1h2l1 1h-4zm5.19-11.1c-.25.25-.25.67 0 .92.32.33.48.76.48 1.19 0 .43-.16.86-.48 1.19-.25.26-.25.67 0 .92a.63.63 0 0 0 .9 0c.57-.58.85-1.35.85-2.11 0-.76-.28-1.53-.85-2.11a.634.634 0 0 0-.9 0z')
              a(href='#')
                | 项目进度信息
            li.border-bottom.py-3
              span.text-gray
                svg.octicon.octicon-cloud-download.mr-1(aria-hidden='true', height='16', version='1.1', viewbox='0 0 16 16', width='16')
                  path(fill-rule='evenodd', d='M9 12h2l-3 3-3-3h2V7h2v5zm3-8c0-.44-.91-3-4.5-3C5.08 1 3 2.92 3 5 1.02 5 0 6.52 0 8c0 1.53 1 3 3 3h3V9.7H3C1.38 9.7 1.3 8.28 1.3 8c0-.17.05-1.7 1.7-1.7h1.3V5c0-1.39 1.56-2.7 3.2-2.7 2.55 0 3.13 1.55 3.2 1.8v1.2H12c.81 0 2.7.22 2.7 2.2 0 2.09-2.25 2.2-2.7 2.2h-2V11h2c2.08 0 4-1.16 4-3.5C16 5.06 14.08 4 12 4z')
                |                       资金拨付信息
        // 右边输入区域
        .col-9.float-left
          .settings-next
            .Subhead
              h2.Subhead-heading 资金拨付信息
          p
          h4 汇票信息
          p
          p
            | 汇票编号：#s5d4fsd5g4af5s4f65s4f6s
          .saved-reply-settings-container.js-saved-reply-container
            .blankslate.text-gray
              p 当前机构：中国工商银行
              p 拨款金额：5,000,000
              p 收款公司：有限合伙公司
              p 截止时间：10/15/2017
          .settings-next
            .Subhead
              h2.Subhead-heading 资金拨付
          form#new_saved_reply.new_saved_reply(accept-charset='UTF-8', action='/admin/project', method='post')
            input(type="hidden", name="project[_id]", value="#{project._id}")
            dl.form
              dl.form-group
                dt
                  label(for='inputSerialNumber') 转账流水号
                dd
                  input#inputSerialNumber.input-block.form-control(type='text', name='', value='')
            dl.form
              dl.form-group
                dt
                  label(for='inputAAccount') 拨款银行账户
                dd
                  input#inputAAccount.input-block.form-control(type='text', name='', value='')
            dl.form
              dl.form-group
                dt
                  label(for='inputBAccount') 收款银行账户
                dd
                  input#inputBAccount.input-block.form-control(type='text', name='', value='')
            dl.form
              dl.form-group
                dt
                  label(for='inputAmount') 转账金额
                dd
                  input#inputAmount.input-block.form-control(type='text', name='', value='')
            p
              button.btn.mr-2(type='submit') Upload Information
              span
                a(href='#') I have some question
