include ../includes/head

block content
  body.logged-out.env-production.signup
      div(role='main')
        #js-pjax-container(data-pjax-container='')
          .bg-shade-gradient
            .setup-wrapper
              .position-relative.js-header-wrapper
                #js-pjax-loader-bar.pjax-loader-bar
                  .progress
                .header.header-logged-out.width-full.pt-5.pb-4(role='banner', style='background-color: rgba(0,0,0,0);')
              .setup-header.setup-org
                h1 脱贫攻坚，精准扶贫
                p.lead 不忘初心，砥砺前行
              .setup-main
                .setup-form-container
                  form#signup-form.setup-form.js-signup-form(accept-charset='UTF-8', action='/user/signup', autocomplete='off', method='post')
                    h2.f2-light.mb-1
                      | 创建账号
                    dl.form-group
                      dt.input-label
                        label 账号
                      dd
                        input.form-control(size='30', name="user[name]", type='text')
                        p.note This will be your username. You can add the name of your organization later.
                    dl.form-group
                      dt.input-label
                        label 密码
                      dd
                        input.form-control(size='30', name="user[password]", type='text')
                        p.note
                          | We'll occasionally send updates about your account to this inbox. We'll never share your password or email address with anyone.
                    dl.form-group
                      dt.input-label
                        label 所属机构
                      dd
                        select#signupOrgnization.form-control.selectpicker(data-width='auto', name='user[role]')
                          option(value='0') 脱贫攻坚指挥部
                          option(value='2') 省基金公司
                          option(value='1') 县政府办公室
                          option(value='3') 商业银行
                          option(value='4') 有限合伙公司
                          option(value='5') 县基金公司
                          option(value='6') 项目实施单位
                          option(value='100') admin
                        p.note Use at least one lowercase letter, one numeral, and seven characters.
                    button#signup_button.btn.btn-primary(type='submit', data-disable-with='Creating account…') 创建账号
                // /.setup-form-container
              // /.setup-main
              .setup-secondary
                .setup-info-module
                  h2 注册说明
                  ul.features-list
                    li
                      strong Unlimited
                      |  collaborators
                    li
                      strong Unlimited
                      |  public repositories
                    li.list-divider
                    li
                      svg.octicon.octicon-check(aria-hidden='true', height='16', version='1.1', viewbox='0 0 12 16', width='12')
                        path(fill-rule='evenodd', d='M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5z')
                      |  Great communication
                    li
                      svg.octicon.octicon-check(aria-hidden='true', height='16', version='1.1', viewbox='0 0 12 16', width='12')
                        path(fill-rule='evenodd', d='M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5z')
                      |  Frictionless development
                    li
                      svg.octicon.octicon-check(aria-hidden='true', height='16', version='1.1', viewbox='0 0 12 16', width='12')
                        path(fill-rule='evenodd', d='M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5z')
                      |  Open source community
